*, a:focus {
  outline: medium none !important; }

a {
  color: #2f65a7;
  outline: 0 none !important; }

a:hover {
  text-decoration: none; }

.btn {
  box-shadow: none !important;
  line-height: 1.8;
  padding: 3px 12px;
  text-shadow: none; }

.btn.btn-xs {
  font-size: 13px;
  line-height: 1; }

.btn-inverse {
  background: none repeat scroll 0 0 #656565;
  border-color: #656565;
  color: #fff; }

body.login {
  background: url(../images/admin/bg-pattern.png); }
  body.login .wrapper {
    padding: 150px 0 0 0; }

body.admin {
  background: none repeat scroll 0 0 #e1e0de;
  color: #4a4a4a;
  font-family: 'Helvetica Neue','Open Sans',Arial,sans-serif;
  font-size: 14px;
  height: 100%;
  position: relative; }

.container-fluid {
  padding-left: 0;
  padding-right: 0; }

.container-fluid {
  background: none repeat scroll 0 0 #e1e0de;
  padding-bottom: 76px; }

.badge {
  border: 1px solid #fff; }
  .badge.badge-warning {
    background: none repeat scroll 0 0 #c58a2c; }
  .badge.badge-info {
    background: none repeat scroll 0 0 #2f65a7; }

.dropdown {
  display: inline-block;
  position: relative; }

.dropdown-menu {
  border: 1px solid #efefef;
  border-radius: 0;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  padding: 0; }

#content {
  background: none repeat scroll 0 0 #e1e0de;
  min-height: 500px;
  min-width: 320px;
  overflow: hidden;
  padding: 49px 0 0;
  position: relative; }

#content {
  overflow: visible; }

#content {
  height: 100%;
  position: relative; }

#content {
  margin-left: 0px; }
  @media (min-width: 768px) {
    #content {
      margin-left: 180px; } }

.innerLR {
  padding-left: 20px;
  padding-right: 20px;
  position: relative; }

.widget {
  background: none repeat scroll 0 0 #f4f4f4;
  box-shadow: 0 1px 0 0 #656565;
  margin: 0 auto 28px;
  position: relative; }

.pace .pace-progress {
  background: #c72a25;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;
  transition: width 1s; }

.pace-inactive {
  display: none; }

.navbar {
  background: none repeat scroll 0 0 #fff;
  border: medium none;
  border-radius: 0; }
  .navbar.main {
    box-shadow: 0 1px 0 #dbdbdb;
    left: 0;
    margin: 0;
    min-height: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1001;
    height: 49px; }
    .navbar.main.navbar-default {
      background: none repeat scroll 0 0 #f0f0f0;
      font-size: 15px; }
      .navbar.main.navbar-default li.notifications {
        margin: 0 6px !important; }
        .navbar.main.navbar-default li.notifications > a > i {
          color: #c7c7c7;
          font-size: 20px;
          margin-right: 3px;
          position: relative;
          top: 2px; }
      .navbar.main.navbar-default .badge {
        border: medium none; }
      .navbar.main.navbar-default ul.main.pull-right > li {
        border-left: 1px solid #dbdbdb;
        margin: 0;
        padding: 0 10px; }
    .navbar.main .logo {
      width: 174px; }
    .navbar.main ul {
      margin-bottom: 0; }
  .navbar .logo {
    display: block;
    float: left;
    font-size: 18px;
    font-weight: bold;
    height: 49px;
    line-height: 45px;
    padding: 0 10px; }
  .navbar ul {
    list-style: none outside none;
    padding: 0; }
    .navbar ul.main {
      height: 45px; }
      .navbar ul.main > li {
        float: left;
        height: 49px;
        line-height: 45px;
        margin: 0 8px 0 15px; }
        .navbar ul.main > li .dropdown-menu {
          background: none repeat scroll 0 0 #f9f9f9;
          border: 0 none;
          margin: 1px 0 0; }
  .navbar .dropdown a.dropdown-toggle {
    color: #4a4a4a; }

#menu {
  background: none repeat scroll 0 0 #232323;
  color: #656565;
  height: 100%;
  position: fixed;
  width: 180px;
  z-index: 1; }
  #menu a {
    color: #656565; }
  #menu #sidebar-fusion-wrapper {
    height: 100%;
    overflow: hidden;
    padding-bottom: 100px;
    padding-top: 49px;
    position: relative; }
    #menu #sidebar-fusion-wrapper #logoWrapper {
      height: 145px;
      overflow: visible; }
      #menu #sidebar-fusion-wrapper #logoWrapper .media {
        padding: 15px 10px; }
        #menu #sidebar-fusion-wrapper #logoWrapper .media a.name {
          color: #fff;
          font-weight: 400; }
        #menu #sidebar-fusion-wrapper #logoWrapper .media p {
          color: #ccc;
          font-size: 12px;
          font-weight: 400; }
        #menu #sidebar-fusion-wrapper #logoWrapper .media img {
          width: 38px; }
      #menu #sidebar-fusion-wrapper #logoWrapper .btn-inverse {
        background: none repeat scroll 0 0 #191919;
        border-color: #191919;
        color: #656565; }
        #menu #sidebar-fusion-wrapper #logoWrapper .btn-inverse:hover {
          color: #fff; }
  #menu > div > ul {
    left: 0;
    padding-bottom: 100px;
    position: absolute;
    top: 160px;
    z-index: 2; }
    #menu > div > ul > li.active {
      border-left: 3px solid #c72a25; }
      #menu > div > ul > li.active > a {
        background: none repeat scroll 0 0 #c72a25;
        color: #fff;
        padding: 0 0 0 5px; }
        #menu > div > ul > li.active > a > i:before {
          color: #fff; }
        #menu > div > ul > li.active > a:hover {
          background: none repeat scroll 0 0 #c72a25; }
      #menu > div > ul > li.active.hasSubmenu ul > li {
        border-left: medium none; }
    #menu > div > ul > li > ul {
      background: none repeat scroll 0 0 #1b1b1b; }
      #menu > div > ul > li > ul li.active {
        border-left: 3px solid #c72a25; }
        #menu > div > ul > li > ul li.active a {
          background: none repeat scroll 0 0 #c72a25;
          color: #fff; }
          #menu > div > ul > li > ul li.active a > i:before {
            color: #fff; }
      #menu > div > ul > li > ul li > a {
        font-size: 13px;
        line-height: 30px; }
        #menu > div > ul > li > ul li > a > i {
          display: inline-block;
          height: 30px;
          vertical-align: middle;
          width: 40px; }
          #menu > div > ul > li > ul li > a > i:before {
            color: #414243;
            font-size: 15px;
            height: 30px;
            left: 10px;
            line-height: 30px;
            position: relative;
            text-align: center;
            top: -2px;
            width: 40px; }
  #menu > div ul {
    background: none repeat scroll 0 0 #232323;
    list-style: none outside none;
    overflow: hidden;
    padding: 0;
    width: 180px; }
    #menu > div ul > li {
      height: 36px;
      padding: 0;
      position: relative; }
      #menu > div ul > li > a > i {
        display: inline-block;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        width: 30px; }
      #menu > div ul > li a {
        color: #656565;
        display: block;
        font-size: 14px;
        font-weight: bold;
        height: 36px;
        line-height: 36px;
        padding: 0 0 0 8px;
        position: relative;
        text-decoration: none; }
        #menu > div ul > li a:hover {
          background: #1e1e1e;
          color: #fff; }
        #menu > div ul > li a i:before {
          color: #555;
          font-size: 1.2em;
          height: 36px;
          left: auto;
          line-height: 41px;
          position: relative;
          top: -3px;
          width: 30px; }
      #menu > div ul > li.active.hasSubmenu {
        border-left: 3px solid #c72a25;
        height: auto; }
        #menu > div ul > li.active.hasSubmenu > a {
          background: none repeat scroll 0 0 #1b1b1b;
          padding: 0 0 0 5px; }
        #menu > div ul > li.active.hasSubmenu > a[data-toggle="collapse"]:after {
          color: #fff;
          content: "\f056";
          top: 13px; }
      #menu > div ul > li a[data-toggle="collapse"]:after {
        color: #555;
        content: "\f055";
        display: inline-block;
        font-family: "FontAwesome";
        font-size: 12px;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1;
        position: absolute;
        right: 15px;
        text-transform: none;
        top: 13px; }

.manage-header {
  padding: 0 0 15px 0; }
  .manage-header h2 {
    padding: 0;
    margin: 0; }

.widget form {
  padding: 15px 0; }
  .widget form .product-image-widget {
    position: relative;
    float: left;
    margin-left: 10px; }
    .widget form .product-image-widget.default {
      border: 1px solid blue; }
    .widget form .product-image-widget .delete {
      display: none;
      color: white;
      position: absolute;
      top: 5px;
      right: 5px; }
    .widget form .product-image-widget:hover .delete {
      display: block; }

#emsModal .icon-sent {
  background: transparent url("../images/bighouse.png") no-repeat scroll center center; }
#emsModal .icon-error {
  background: transparent url("../images/caution.png") no-repeat scroll center center; }
#emsModal .mytrack-status-icon {
  border-right: 1px solid #ccc;
  float: left;
  height: 44px;
  margin-left: -20px;
  margin-right: 20px;
  padding-right: 20px;
  width: 44px;
  display: inline-block; }
#emsModal .name-popup {
  text-align: left;
  backgroup: white; }
  #emsModal .name-popup ul {
    list-style-type: none; }
  #emsModal .name-popup .title {
    font-weight: bold; }


/*# sourceMappingURL=admin.css.map */