#emsModal .icon-sent {
  background: transparent url("../images/bighouse.png") no-repeat scroll center center; }
#emsModal .icon-error {
  background: transparent url("../images/caution.png") no-repeat scroll center center; }
#emsModal .mytrack-status-icon {
  border-right: 1px solid #ccc;
  float: left;
  height: 44px;
  margin-left: -20px;
  margin-right: 20px;
  padding-right: 20px;
  width: 44px;
  display: inline-block; }
#emsModal .name-popup {
  text-align: left;
  backgroup: white; }
  #emsModal .name-popup ul {
    list-style-type: none; }
  #emsModal .name-popup .title {
    font-weight: bold; }

.img-responsive {
  margin: 0 auto; }

@font-face {
  font-family: "SansumiExtraBoldRegular";
  font-style: normal;
  font-weight: normal;
  src: local("?"), url("../fonts/Sansumi-ExtraBold-webfont.woff") format("woff"), url("../fonts/Sansumi-ExtraBold-webfont.ttf") format("truetype"), url("../fonts/Sansumi-ExtraBold-webfont.svg") format("svg"); }

body {
  padding-top: 50px; }
  body hr {
    border-color: #c2d6d6 -moz-use-text-color -moz-use-text-color; }
  body .breadcrumb {
    margin-bottom: 0px; }

#header {
  background: url('/images/logo-bg.jpg') repeat-x; }
  #header ul {
    margin-top: 30px;
    color: white; }
    #header ul a {
      color: white; }

#header2 {
  background: #2b2216; }
  @media (min-width: 992px) {
    #header2 {
      background: url('/images/logo-bg.jpg') repeat-x; } }
  #header2.navbar-default .navbar-nav > li > a {
    color: #bbb; }
    #header2.navbar-default .navbar-nav > li > a:hover {
      color: #FFF; }
    #header2.navbar-default .navbar-nav > li > a.dropdown-toggle:hover {
      color: #bbb; }
  #header2.navbar-default .navbar-nav > li.active > a {
    color: #777; }
    #header2.navbar-default .navbar-nav > li.active > a:focus {
      color: #777; }
    #header2.navbar-default .navbar-nav > li.active > a:hover {
      color: #777; }
  #header2.navbar-default .navbar-nav > li.open > a {
    color: #777; }
    #header2.navbar-default .navbar-nav > li.open > a:hover {
      color: #777; }
  #header2 .navbar-brand {
    color: #bbb; }

#main-menu {
  border-bottom: 2px solid #e1e1dc; }
  #main-menu ul {
    margin-top: 10px; }
    #main-menu ul li:after {
      content: "|";
      padding: 0 .5em; }
    #main-menu ul li.active a {
      color: #2a6496; }

.content {
  background: white;
  min-height: 550px; }
  .content ul.left-menu {
    margin-top: 20px; }
  .content .post-thumb {
    overflow: hidden;
    margin-bottom: 0; }
    .content .post-thumb > img {
      transition: all 0.4s ease 0s; }
    .content .post-thumb:hover > img {
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2); }
  .content .breadcrumb {
    background-color: #f9fed5; }
  .content .widget .widget-title {
    position: relative; }
    .content .widget .widget-title span::after {
      background: #888 none repeat scroll 0 0;
      bottom: 0;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      width: 50px; }
  .content .widget a {
    color: #444444;
    transition: all 0.5s ease-out 0s; }
    .content .widget a:hover {
      color: #2a6496; }
  .content .widget li.active a {
    color: #2a6496; }
  .content #hightlight li {
    margin: 10px 0; }

.require {
  color: red; }

label.error {
  color: red;
  font-style: italic; }

form label.error {
  display: none; }

.form-control.error {
  border-color: red; }

footer .row {
  padding: 10px 0;
  background: url('/images/logo-bg.jpg') repeat-x;
  color: #777; }

.thumb-item-wrapper {
  margin-bottom: 30px;
  padding: 0 8px; }
  .thumb-item-wrapper .thumb-item-container {
    background: none repeat scroll 0 0 #fff; }
    .thumb-item-wrapper .thumb-item-container .item-photo {
      background-color: #fff;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 300px;
      width: 100%;
      display: block;
      overflow: hidden; }
    .thumb-item-wrapper .thumb-item-container .post-thumb {
      overflow: hidden;
      margin-bottom: 0; }
      .thumb-item-wrapper .thumb-item-container .post-thumb > .item-photo {
        transition: all 0.4s ease 0s; }
      .thumb-item-wrapper .thumb-item-container .post-thumb:hover > .item-photo {
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
                transform: scale(1.3); }

.thumb-item-btn {
  display: block;
  position: relative; }
  .thumb-item-btn:hover {
    text-decoration: none; }

.price.onSale {
  text-decoration: line-through;
  color: #900; }

#omise-card {
  background: #eae8ea; }

#payment-options li {
  margin-bottom: 7px; }

.webboard .bottom-bg {
  background: transparent url("/images/menubar-bottom.png") repeat-x scroll 50% 100% !important; }
.webboard h6 {
  margin: 0; }
.webboard .panel-body {
  background: transparent url("/images/contrast-overlay2.png") repeat scroll 0 0;
  border: 1px solid #d0d0d0; }
.webboard td p.lead {
  margin-bottom: 0px; }
.webboard .blue-row {
  background: #43a6df;
  color: white; }
.webboard .thread-panel {
  position: relative; }
  .webboard .thread-panel .edit {
    position: absolute;
    top: 5px;
    right: 10px; }
  .webboard .thread-panel .delete {
    position: absolute;
    top: 5px;
    right: 50px; }

.comments .comment-box {
  min-height: 50px;
  position: relative;
  margin-bottom: 15px;
  position: relative;
  transition: all 0.2s ease-in-out 0s; }
  .comments .comment-box .avatar {
    position: absolute; }
    .comments .comment-box .avatar img {
      width: 50px; }
  .comments .comment-box .post-menu {
    position: absolute;
    right: 10px;
    top: 3px;
    display: none; }
  .comments .comment-box .post-body {
    padding-left: 60px; }
    .comments .comment-box .post-body header .publisher-anchor-color {
      color: #2e9fff; }
    .comments .comment-box .post-body header .bullet {
      color: #ccc;
      font-size: 75%;
      line-height: 1.4;
      padding: 0 4px; }
    .comments .comment-box .post-body header .time-ago {
      color: rgba(0, 39, 59, 0.35);
      font-size: 12px;
      font-weight: 500; }
    .comments .comment-box .post-body textarea {
      margin-bottom: 5px; }
  .comments .comment-box:hover .post-menu {
    display: block; }


/*# sourceMappingURL=main.css.map */