/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

.theme-default .nivoSlider { position:relative; margin-bottom:10px; -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a; -moz-box-shadow: 0px 1px 5px 0px #4a4a4a; box-shadow: 0px 1px 5px 0px #4a4a4a; }
.theme-default .nivoSlider img { position:absolute; top:0px; left:0px; display:none; }
.theme-default .nivoSlider a { border:0; display:block; }

.theme-default .nivo-controlNav { display:none; }
.theme-default .nivo-controlNav a { background:url(../images/slider-nav.png) left -86px no-repeat; width:29px; height:30px; display:inline-block; margin:0px 2px; text-indent:-9999px; }
.theme-default .nivo-controlNav a.active, .theme-default .nivo-controlNav a:hover { background-position:-29px -86px; }

/* Replace */
.theme-default .nivo-directionNav a { position:absolute; width:42px; height:42px; display:block; top:257px; background:url(../images/slider-nav.png) no-repeat; text-indent:-9999px; border:0; opacity: 0; -webkit-transition: opacity 0.5s; -moz-transition:opacity 0.5s; -o-transition:opacity 0.5s; }
.theme-default:hover .nivo-directionNav a { opacity:1; }

.theme-default a.nivo-nextNav:after { content: ""; position: absolute; top:0; left:0; bottom:0; right:0; background: url(../images/slider-nav.png) left -42px no-repeat; opacity:0; -webkit-transition: opacity 0.5s; -moz-transition:opacity 0.5s; -o-transition:opacity 0.5s; } 	
.theme-default a.nivo-nextNav:hover:after { opacity:1; background-position:-42px -42px; }
.theme-default a.nivo-nextNav { background-position:left -42px; right:30px; }
.theme-default a.nivo-nextNav:hover, .theme-default a.nivo-nextNav:hover:after { background-position:-42px -42px; }

.theme-default a.nivo-prevNav:after { content: ""; position: absolute; top:0; left:0; bottom:0; right:0; background: url(../images/slider-nav.png) left top no-repeat; opacity:0; -webkit-transition: opacity 0.5s; -moz-transition:opacity 0.5s; -o-transition:opacity 0.5s; } 	
.theme-default a.nivo-prevNav:hover:after { opacity:1; background-position:-42px top; }
.theme-default a.nivo-prevNav { left:30px; background-position:left top; }
.theme-default a.nivo-prevNav:hover, .theme-default a.nivo-prevNav:hover:after { background-position:-42px top; }

.theme-default .nivo-caption h2 { font-family:'Niconne', cursive; font-size:48px; line-height:36px; letter-spacing:-0.20px; color:#f9f1d7; }
.theme-default .nivo-caption p { color:#f9f1d7; }
.theme-default .nivo-caption a { background:url(../images/slider-readmore.png) right no-repeat; height:30px; float:left; color:#fffae4; line-height:30px; padding:0px 12px 0px 0px; }
.theme-default .nivo-caption a span { background:#361f0f; display:block; height:30px; padding:0px 22px; }

/* The Nivo Slider styles */
.nivoSlider { position:relative; width:100%; height:auto; overflow: hidden; }
.nivoSlider img { position:absolute; top:0px; left:0px; max-width: none; }
.nivo-main-image { display: block !important; position: relative !important;  width: 100% !important; }

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink { position:absolute; top:0px; left:0px; width:100%; height:100%; border:0; padding:0; margin:0; z-index:6; display:none; }

/* The slices and boxes in the Slider */ 
.nivo-slice { display:block; position:absolute; z-index:5; height:100%; top:0; }
.nivo-box { display:block; position:absolute; z-index:5; overflow:hidden; }
.nivo-box img { display:block; } 

/* Caption styles */
.nivo-caption { position:absolute; left:140px; top:205px; width:340px; z-index:8; opacity: 0.8; overflow: hidden; display: none; -moz-opacity: 0.8; filter:alpha(opacity=8); }
.nivo-html-caption { display:none; }

/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a { position:absolute; top:45%; z-index:9; cursor:pointer; }
.nivo-prevNav { left:0px; }
.nivo-nextNav { right:0px; }

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a { cursor:pointer; }
