 
#menu{
	background: none repeat scroll 0 0 #232323;
    color: #656565;
    height: 100%;
    position: fixed;
    width: 180px;
    z-index: 1;	
    a{
    	color: #656565;	
   	}
    #sidebar-fusion-wrapper {
	    height: 100%;
	    overflow: hidden;
	    padding-bottom: 100px;
	    padding-top: 49px;
	    position: relative;
	    #logoWrapper {
		    height: 145px;
		    overflow: visible;
		    .media {
			    padding: 15px 10px;
			    a.name {
				    color: #fff;
				    font-weight: 400;
				}
				p {
				    color: #ccc;
				    font-size: 12px;
				    font-weight: 400;
				}
				img {
				    width: 38px;
				}
			}
			.btn-inverse {
			    background: none repeat scroll 0 0 #191919;
			    border-color: #191919;
			    color: #656565;
			    &:hover{
			    	color : #fff ; 	
		    	}
			}
		}
	}
	> div{
		> ul{
			left: 0;
		    padding-bottom: 100px;
		    position: absolute;
		    top: 160px;
		    z-index: 2;	
		    > li{
		    	&.active{
		    		border-left: 3px solid #c72a25;
		    		> a{
		    			background: none repeat scroll 0 0 #c72a25;
					    color: #fff;
					    padding: 0 0 0 5px;	
					     > i:before {
						    color: #fff;
						}
						&:hover{
							background: none repeat scroll 0 0 #c72a25;
						}
	    			}
                    &.hasSubmenu{
                        ul{
                            > li{
                                border-left: medium none;
                            }
                        }
                    }
                    
	    			
	    		} 
	    		> ul{ 
				    background: none repeat scroll 0 0 #1b1b1b; 
                    li{
                        &.active{
                            border-left: 3px solid #c72a25;
                            a{
                                background: none repeat scroll 0 0 #c72a25;
                                color: #fff;
                                > i{
                                    &:before{
                                        color: #fff;
                                    }
                                }
                            }
                        }  
                        > a{
                            font-size: 13px;
                            line-height: 30px;
                            > i{
                                display: inline-block;
                                height: 30px;
                                vertical-align: middle;
                                width: 40px;
                                &:before{
                                    color: #414243;
                                    font-size: 15px;
                                    height: 30px;
                                    left: 10px;
                                    line-height: 30px;
                                    position: relative;
                                    text-align: center;
                                    top: -2px;
                                    width: 40px;
                                }
                            }
                        }
                    }
				} 
	    	}
		}
		ul{
			background: none repeat scroll 0 0 #232323;
		    list-style: none outside none;
		    overflow: hidden;
		    padding: 0;
		    width: 180px;	
		    > li{
		    	height: 36px;
			    padding: 0;
			    position: relative; 
                > a{
                    > i{
                        display: inline-block;
                        height: 36px;
                        text-align: center;
                        vertical-align: middle;
                        width: 30px;   
                    }
                }
			    a{
			    	color: #656565;
				    display: block;
				    font-size: 14px;
				    font-weight: bold;
				    height: 36px;
				    line-height: 36px;
				    padding: 0 0 0 8px;
				    position: relative;
				    text-decoration: none;	
				    &:hover{
				    	background : #1e1e1e ; 
						color : #fff ; 	
			    	}
			    	i{
			    	    &:before{
			    	        color: #555;
                            font-size: 1.2em;
                            height: 36px;
                            left: auto;
                            line-height: 41px;
                            position: relative;
                            top: -3px;
                            width: 30px;
   	                    }
                    }
		    	}
		    	&.active{
		    		&.hasSubmenu{
		    			> a {
						    background: none repeat scroll 0 0 #1b1b1b;
						    padding: 0 0 0 5px;
						}
		    			> a[data-toggle="collapse"]:after {
						    color: #fff;
						    content: "\f056";
						    top: 13px;
						} 
						border-left: 3px solid #c72a25;
    					height: auto;
	    			}
	    		}
		    	a[data-toggle="collapse"]:after{
		    		color: #555;
				    content: "\f055";
				    display: inline-block;
				    font-family: "FontAwesome";
				    font-size: 12px;
				    font-style: normal;
				    font-variant: normal;
				    font-weight: normal;
				    line-height: 1;
				    position: absolute;
				    right: 15px;
				    text-transform: none;
				    top: 13px;
	    		}
	    	}
		}
	}
}  