
.navbar{
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    border-radius: 0;
    &.main{
        box-shadow: 0 1px 0 #dbdbdb;
        left: 0;
        margin: 0;
        min-height: 0;
        position: fixed;
        right: 0;
        top: 0;   
        z-index: 1001;
        height: 49px;
        &.navbar-default{
            background: none repeat scroll 0 0 #f0f0f0;
            font-size: 15px;
            li{
                &.notifications{
                    margin: 0 6px !important;
                    > a{
                        > i {
                            color: #c7c7c7;
                            font-size: 20px;
                            margin-right: 3px;
                            position: relative;
                            top: 2px;    
                        }
                    }
                }
            }
            .badge {
                border: medium none;
            }
            ul{
                &.main{
                    &.pull-right{
                        > li{
                            border-left: 1px solid #dbdbdb;
                            margin: 0;
                            padding: 0 10px; 
                        } 
                    }
                }
            }
        }
        .logo{
            width: 174px;   
        }
        ul{
            margin-bottom: 0;   
        }
    }
    .logo{
        display: block;
        float: left;
        font-size: 18px;
        font-weight: bold;
        height: 49px;
        line-height: 45px;
        padding: 0 10px;   
    }
    ul{
        list-style: none outside none;
        padding: 0;   
        &.main{
            height: 45px;   
            > li{
                float: left;
                height: 49px;
                line-height: 45px;
                margin: 0 8px 0 15px;  
                .dropdown-menu {
                    background: none repeat scroll 0 0 #f9f9f9;
                    border: 0 none;
                    margin: 1px 0 0;
                } 
            }
        }
    }
    .dropdown {
        a{
            &.dropdown-toggle{
                color: #4a4a4a;
            }
        }
    }
}