.comments{
  .comment-box{
    min-height:50px;
    position : relative ; 
    .avatar{
      position : absolute ; 
      img{
        width : 50px ;   
      }
    }
    .post-menu{
      position : absolute ; 
      right : 10px ; 
      top : 3px ; 
      display : none ; 
    }
    .post-body{
      padding-left : 60px ;   
      header{
        .publisher-anchor-color{
          color: #2e9fff ; 
        }
        .bullet {
          color: #ccc;
          font-size: 75%;
          line-height: 1.4;
          padding: 0 4px;
        }
        .time-ago {
          color: rgba(0, 39, 59, 0.35);
          font-size: 12px;
          font-weight: 500;
        }
      }
      textarea{
        margin-bottom : 5px;  
      }
    }
    margin-bottom: 15px;
    position: relative;
    transition: all 0.2s ease-in-out 0s;
    
    &:hover{
       .post-menu{
         display : block; 
       }
    }
  }
  
}