.webboard{
	.bottom-bg{
		background: rgba(0, 0, 0, 0) url("/images/menubar-bottom.png") repeat-x scroll 50% 100% !important;
	}
	
	h6{
		margin : 0 ; 	
	}
	
	.panel-body{
		background: rgba(0, 0, 0, 0) url("/images/contrast-overlay2.png") repeat scroll 0 0;
    	border: 1px solid #d0d0d0;		
	}
	
	td{
		p{
			&.lead{
				margin-bottom : 0px ; 	
			}
		}
	}
  
  .blue-row{
    background : #43a6df ;
    color : white ; 
  }
  
  .thread-panel{
    position : relative ; 
    .edit{
      position : absolute ; 
      top : 5px ; 
      right : 10px ; 
    }
    .delete{
      position : absolute ; 
      top : 5px ; 
      right : 50px ;
    }
  }
}