.thumb-item-wrapper{
    margin-bottom: 30px;
    padding: 0 8px;
    .thumb-item-container {
	    background: none repeat scroll 0 0 #fff;
	    .item-photo {
		    background-color: #fff;
		    background-position: center center;
		    background-repeat: no-repeat;
		    background-size: contain;
		    height: 300px;
		    width: 100%;
            display: block;
            overflow: hidden;
                      
		}
        .post-thumb {
            overflow: hidden;
            margin-bottom: 0;
            > .item-photo {
                transition: all 0.4s ease 0s; 
            }
            &:hover > .item-photo {
                transform: scale(1.3);
            }
        }
	}
}

.thumb-item-btn {
    display: block;
    position: relative;
    &:hover{
    	text-decoration: none;
   	}
}

.price{
	&.onSale{
		text-decoration: line-through;
		color: #900;
	}
}

#omise-card{
	background : rgb(234,232,234) ; 
}	