#emsModal{
    .icon-sent {
        background: transparent url("../images/bighouse.png") no-repeat scroll center center;
    }
    
    .icon-error {
        background: transparent url("../images/caution.png") no-repeat scroll center center;
    }

    .mytrack-status-icon {
        border-right: 1px solid #ccc;
        float: left;
        height: 44px;
        margin-left: -20px;
        margin-right: 20px;
        padding-right: 20px;
        width: 44px;
        display: inline-block ;
    }  
    
    .name-popup{
        text-align: left ;
        backgroup : white ;
        ul{
            list-style-type : none ;    
        }
        .title{
            font-weight : bold ;    
        }
    }
    
}