// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "share";

@import "variables" ; 

.img-responsive {margin:0 auto;}

@font-face {
    font-family: "SansumiExtraBoldRegular";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../fonts/Sansumi-ExtraBold-webfont.woff") format("woff"), url("../fonts/Sansumi-ExtraBold-webfont.ttf") format("truetype"), url("../fonts/Sansumi-ExtraBold-webfont.svg") format("svg");
}

body{
	hr{
		border-color: rgb(194, 214, 214) -moz-use-text-color -moz-use-text-color;	
	}
    padding-top: 50px;
    .breadcrumb{
    	margin-bottom : 0px ; 	
   	}
}

#header{ 
	background : url('/images/logo-bg.jpg') repeat-x ; 	
	ul{
		margin-top : 30px ; 
		color : white ; 	
		a{
			color : white ; 	
		}
	}
}

#header2{
    background : rgb(43,34,22)  ; 	 
    @media (min-width: $screen-md-min) {
    	background : url('/images/logo-bg.jpg') repeat-x ; 	
  	}
  	&.navbar-default .navbar-nav > li{
  		> a {
	  		color : #bbb ; 
		    &:hover{
		    	color : #FFF ; 	
	    	}
	    	&.dropdown-toggle{
   				&:hover{
	    			color : #bbb ; 		
				}	
    		}
    	}
    	&.active{
    		> a{
    			color : #777 ; 	
    			&:focus{
    				color : #777 ; 	
   				}
    			&:hover{
			    	color : #777 ; 	
		    	}	
   			}
   		}
   		&.open{
   			> a{
    			color : #777 ; 	
    			&:hover{
	    			color : #777 ; 		
				}
			}	
		}		
        
	}
    
    .navbar-brand {
        color: #bbb;
    }
}


#main-menu{
	border-bottom : 2px solid rgb(225,225,220) ; 	
	ul{
		margin-top : 10px;	
		li:after {
		    content: "|";
		    padding: 0 .5em;
		}
    li{
      &.active{
        a{
          color : #2a6496 ;  
        }
      }
    }
	}
    
}

.content{
	background : white ; 	
	ul.left-menu{
		margin-top: 20px;	
	}
	min-height : 550px ; 
    
    .post-thumb {
        overflow: hidden;
        margin-bottom: 0;
        > img {
            transition: all 0.4s ease 0s;
        }
        &:hover > img {
            transform: scale(1.2);
        }
    }
    
    .breadcrumb{
        background-color : rgb(249,254,213) ; 
    }
    
    .widget{
        .widget-title {
            position : relative ; 
            span::after{
                background: #888 none repeat scroll 0 0;
                bottom: 0;
                content: "";
                height: 1px;
                left: 0;
                position: absolute;
                width: 50px;
            } 
            
        }
        
        a{
            color : #444444 ;    
            transition: all 0.5s ease-out 0s;
            &:hover{
                color : #2a6496;   
            }
        }
        li{
            &.active{
                a{
                    color : #2a6496;   
                }
            }
        }
    }
  #hightlight{
    li{
      margin : 10px 0 ; 
    }
  }
}

// Common validate

.require{
	color : red ; 	
}

label{
	&.error{
		color: red;
    	font-style: italic;	
	}
}

form{
	label{
		&.error{
			display: none;	
		}
	}
}

.form-control{
	&.error{
		border-color:red ;	
	}
}

footer{ 
	.row{
		padding : 10px 0 ; 
		background : url('/images/logo-bg.jpg') repeat-x ; 	
		color : #777;
	}
}
 
 
@import "product" ; 
@import "order" ; 
@import "forum" ; 
@import "comments" ; 
 